<div><table class="table table-striped table-bordered" >
  <thead><tr>
    <th><h1 class="text-danger">FIRSTNAME</h1></th>
    <th><h1 class="text-danger">LASTNAME</h1></th>
    <th><h1 class="text-danger">GENDER</h1></th>
    <th><h1 class="text-danger">SUBSCRIBE</h1></th>
  </tr></thead>
 <tbody><tr *ngFor="let row of user; let j=index ">
    <td>{{row.userfirstname}}</td>
    <td>{{row.userlastname}}</td>
    <td>{{row.subject}}</td>
    <td>{{row.subscribe}}</td>
    <td><button class="btn btn-primary text-white btn-danger" (click)="delete(row._id) ">delete</button></td>

  </tr></tbody>
</table>

</div>


